<%= simple_form_for(cocktail) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :ingre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
  </div>
<% end %>
